$primFont: "Roboto Mono", monospace;

* {
  font-family: $primFont;
}

.note-app {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
