$primFont: "Roboto Mono", monospace;

* {
  font-family: $primFont;
}

.note-app {
  text-align: center;
  max-width: 1200px;
  margin: auto;

  &__form {
    display: flex;
    justify-content: center;
    select,
    button,
    input {
      border: none;
      background-color: #fff;
      padding: 5px;
    }

    button {
      cursor: pointer;
    }

    .note__input {
      border-bottom: 2px solid #000;
      &:focus {
        outline: none;
      }
    }
  }
}
